
/* Add styles(font-style,font-weight,size.line-height,color,list-style,width,display to .logo selector  */
.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  list-style: none;
  width: 100px;
  display: inline-block;
}

/* Apply text decoration to all anchor selectors, plus color to inherit, plus cursor to auto  */
a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

/* Set margin and PAdding to zero, and box-sizing to border box for all content */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply font-family,width,height,overflow-x and background color to body selector */
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f7f7f7;
}

nav {
  /* Adjust flex layout */

  display: flex;
  flex-direction: row;
  /* Adjust flex item to start */

  align-items: flex-start;
/* Adust width to 100% to nav selector */

  width: 100%;
  /* Apply justify content with space in between to nav selector */

  justify-content: space-between;
/* Apply white background color */

  background-color: white;

}
/*Apply display, flex direction, gap and list-style propeties to ul selector  */
ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
}


/* Add media query for screen width 768 */
