.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  list-style: none;
  width: 100px;
  display: inline-block;
  animation-name: logo-load;
  animation-duration: 8s;
  animation-delay: 1s;
}

@keyframes logo-load {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Tonic:hover {
  transform: scale(1.1);
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f7f7f7;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
}

.headline {
  background-image: url(./public/Background.png);
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  border-bottom-left-radius: 10%;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20%;
  width: 100%;
}

h1 {
  width: 920px;
  height: 122px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
}

.description {
  width: 920px;
  height: 98px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  overflow-wrap: break-word;
}

.links-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 20px;
  margin-bottom: 20px;
  animation-name: links_load;
  animation-duration: 6s;
}

@keyframes links_load {
  0% { transform: translateX(200px); }
}

.wrapper {
  overflow: hidden !important;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.menu-items {
  animation-name: menu-load;
  animation-duration: 7s;
  animation-delay: 0s;
}

@keyframes menu-load {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0%); }
}

.project_section {
  padding: 0 16px;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
}

@media (max-width: 600px) {
  .introduction {
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    min-height: 500;
  }

  .project_description {
    width: 200px;
    height: fit-content;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
  }

  .first_project,
  .second_project,
  .third_project,
  .forth_project {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 2px solid grey;
    border-radius: 12px;
    padding: 15px 15px;
    background-color: #fff;
    width: fit-content;
    justify-content: space-between;
  }

  .icons-section {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  h1 {
    width: 300px;
    height: 122px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.37px;
    margin-bottom: 20px;
    top: 0;
  }

  .description {
    width: 100%;
    height: 98px;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    line-height: 20px;
    overflow-wrap: break-word;
  }

  .headline {
    background-image: url(./public/header-shapes\ mobile.png);
    width: 100%;
    height: 80%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    padding: 0;
    background-position: center center;
    background-attachment: fixed;
  }

  html {
    overflow: hidden !important;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .menu-items {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    animation-name: ham-load;
    animation-duration: 7s;
    animation-delay: 0s;
  }

  @keyframes ham-load {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
  }

  .line {
    width: 25px;
    height: 2px;
    background-color: #6070ff;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: none;
    background-color: #f7f7f9;
  }

  .Tonic {
    width: 225px;
    height: 180px;
    align-self: center;
  }

  h2 {
    width: 295px;
    height: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 10px;
  }
}

.list_items {
  list-style-type: circle;
  width: 88px;
  height: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #7a869a;
}

.list {
  width: 100%;
  display: flex;
  gap: 32px;
  margin-bottom: 15px;
}

.tag {
  color: #6070ff;
  border-radius: 12px;
  background-color: #ebebff;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.spacer {
  margin-top: 15px;
}

.about_section_lists {
  display: block;
}

.section_header {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.dropdown {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #dfe1e6;
}

.dropdown span {
  font-weight: bolder;
  transform: rotate(90deg);
}

.dropdown:first-child {
  border: none;
}

.dropdown:last-child {
  margin-bottom: 40px;
}

.dropdown:first-child span {
  transform: rotate(180deg);
}

.btn {
  padding: 20px;
  width: fit-content;
  height: 24px;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  font-style: normal;
  border: 1px solid #396df2;
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-color: #6070ff;
  color: white;
}

.btn:active {
  background-color: #2230d2;
  color: white;
}

.btn:disabled {
  background-color: #fff;
  color: #5e6c84;
  border-color: #5e6c84;
}

.tags {
  margin-bottom: 20px;
}

.forth_project {
  margin-bottom: 40px;
}

.About_Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-top-right-radius: 10%;
  padding: 0 24px;
  padding-top: 90px;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #f7f7f9;
  width: 303px;
  height: 66.72px;
  border-radius: 10px;
}

.languages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.footer {
  background-image: url(/public/contact\ .svg);
  background-size: cover;
  background-color: #6070ff;
  padding: 140px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 70px;
  gap: 120px;
}

.form_header {
  color: white;
  font-weight: 600;
  font-size: 40px;
  margin: 0;
  height: fit-content;
  padding: 5px 0;
  text-align: center;
}

.contact_paragraph {
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

.contact_paragraph:hover {
  transform: translateX(200px);
}

.form_inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.form_input {
  padding: 15px 10px;
  border-radius: 10px;
}

.form_button {
  padding: 10px 20px;
  border-radius: 12px;
  background-color: #fff;
  color: #6070ff;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: fit-content;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form_button:hover {
  background-color: #6070ff;
  color: white;
}

.form_button:active {
  background-color: #2230d2;
  color: white;
}

.form_button:disabled {
  background-color: #fff;
  color: #5e6c84;
  border-color: #5e6c84;
}

@media (min-width: 768px) {
  .first_project,
  .second_project,
  .third_project,
  .forth_project {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid grey;
    border-radius: 12px;
    padding: 15px 35px;
    background-color: #fff;
    gap: 50px;
    margin-bottom: 20px;
  }

  .hamburger-menu {
    display: none;
  }

  .navbar {
    width: 100%;
    background-color: white;
    padding: 30px 154px;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 850px;
  }

  .dropdown {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    padding-bottom: 20px;
    margin-top: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #dfe1e6;
  }

  .Tonic {
    width: 600px;
    height: 400px;
  }

  .flex_list {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .project_description {
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .project_name {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-bottom: 20px;
  }

  .About_Section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 100px 120px;
  }

  .About_Section_description {
    width: 400px;
  }

  .About_Section_flex {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
  }

  .About_Section_flexx {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 0;
  }

  /* body {
    margin: 0;
    padding: 20px 100px;
    box-sizing: border-box;
    overflow-y: none;
    background-color: #f7f7f9;
  } */

  .languages {
    display: flex;
    flex-direction: row;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    width: 122px;
    height: 120px;
  }

  .about_section_lists {
    min-width: 700px;
  }

  .contact_paragraph {
    align-self: center;
    width: 40%;
  }

  .form_header {
    align-self: center;
  }

  .form_input {
    min-width: 447px;
  }

  .footer {
    background-image: url(/public/contact\ .svg);
    background-size: cover;
    background-color: #6070ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-top-left-radius: 70px;
    gap: 120px;
    min-height: 846px;
  }

  .footer_section {
    background-color: white;
  }

  .headline {
    background-image: url(./public/Background.png);
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    border-bottom-left-radius: 10%;
  }

  .project_section {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    padding: 0 100px;
    margin-bottom: 100px;
  }
}
